

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>





<!-- <div class="footer">
  <div class="footer1">
    <p>The Pollastri Group © 2023. All Rights Reserved.</p>
    
    <button class="upscroll btn" (click)="scrollToTop()"> <i class="fa fa-angle-up "></i></button>
  </div>

  <div class="footer2">

    
      <a  href="https://www.creighton.edu/">Creighton University</a>
      <ul class="info">
        <li><a href="http://myneu.neu.edu/cp/home/displaylogin">MyNEU</a></li>
        <li><a href="http://www.northeastern.edu/findfacultystaff">Find Faculty &amp; Staff</a></li>
        <li><a href="http://www.northeastern.edu/neuhome/adminlinks/findaz.html">Find A-Z</a></li>
        <li><a href="http://www.northeastern.edu/emergency/index.html">Emergency Information</a></li>
        <li><a href="http://www.northeastern.edu/search/index.html">Search</a></li>
        <li><a href="http://assistive.usablenet.com/tt/http://www.northeastern.edu/index.html">Text Only</a></li>
        <li><a href="http://www.northeastern.edu/privacy/index.html">Privacy</a></li>
      </ul>
      <p class="contact">360 Huntington Ave., Boston, Massachusetts 02115 · 617.373.2000 · TTY 617.373.3768
        © <span >2014</span>&nbsp;Northeastern University</p>
    
  </div>

</div>




<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>Creighton University</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
END OF FOOTER --> 