.header{
  position:fixed;
  z-index: 1000;
  display:block;
  width:89%;
  /* margin-right: 25px;; 
   width:89%;*/
}


.main-title {
  position:relative;
  padding-top: 10px;
  margin-top: 5px;
  margin-left: 15px;
   z-index: 10;
   background: inherit;
   overflow:auto;
  display: border-box;
  padding-left: 15px;
  border: none solid #696969;
  background:white; 
  /* Green background with 30% opacity  */
    
}

.site-title {
  font-family: 'Black Ops One', cursive;
  font-style: italic;
  color: green;
  font-size: 50px;

}

.site-description {

  font-size: 15px;
  font-style: italic;
  color: green;
}
 mat-toolbar {
  /* background-color: white; 
   width:90%;*/
   border-radius: 15px;
  background-color: red;
  
  width:100%;
  height: 40px;
  align-items: start;



} 
 mat-toolbar-row{
  width:99%;
  padding-right: 15px;
  margin: auto;
  margin-left: 15px;
  margin-right: 105px;
  height: 40px;
  background-color: #353535;
  border-radius: 15px;
  color: white;
}
button:hover {
  background-color: blueviolet;
}
a:hover{
  background-color: blueviolet;;
}

.personnel {
  text-decoration: underline;
  color: #551a8b;
}

.menu-spacer {
  flex: 0 1 auto;
  /* flex: 1 1 auto; */
  /* padding-right: 5%;; */
}


span {
  color: #FFFFFFB3;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}


mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* 
    .nomargin{
    display:flex;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    justify-content: left;
  }
  .save-button {
  display: flex;
  width: 490px;
  position: absolute;
  right: 0px;
  margin-top: 25px;
  align-items: flex-end;
} */