<div class="completepage">
  <div class="main-title">
    <p class="site-title">Creighton University</p>
    <p class="site-description">Laboratory for Neglected Disease Drug Discovery</p>
  </div>

  <mat-toolbar fxLayout="row" color="primary">
    <button (click)="toggle()" mat-button>   <mat-icon>menu</mat-icon>  </button>

    <span fxFlex>Responsive Toolbar Demo</span>

    <div fxShow fxHide.xs fxHide.sm>

            <button mat-button  *ngFor="let item of menuItems" (click)="testLink(item) ">  {{item.label}}     </button>
            <button mat-button [matMenuTriggerFor]="personnel"  > personnel   </button>
            <button mat-button [matMenuTriggerFor]="personnel"> <mat-icon>arrow_right</mat-icon> </button>
            
                  <mat-menu #personnel="matMenu">
                    <a mat-menu-item [routerLink]="'/home'">Dr. Gopal Jadhav</a>
                    <a mat-menu-item [routerLink]="'/home'">Current Personnel</a>
                    <a mat-menu-item [routerLink]="'/home'">Lab Alumini</a>
                    <a mat-menu-item [routerLink]="'/home'">Supporters</a>
                  </mat-menu>
    </div> 

  <div fxHide fxShow.xs fxShow.sm>

            <button mat-icon-button [matMenuTriggerFor]="dropMenu"> <mat-icon>more_vert</mat-icon> </button>

              <mat-menu #dropMenu="matMenu" xPosition="after">
                  <ng-container *ngFor="let item of menuItems">
                      <button  (click)="testLink(item) "  mat-button > {{item.label}}</button>
                      <mat-divider></mat-divider>
                  </ng-container> 
                    <button mat-menu-item [matMenuTriggerFor]="personnel_sm"> personnel</button> 
              </mat-menu>
              <mat-menu #personnel_sm="matMenu" xPosition="after">
                <a mat-menu-item [routerLink]="'/home'">Dr. Gopal Jadhav</a>
                <a mat-menu-item [routerLink]="'/home'">Current Personnel</a>
                <a mat-menu-item [routerLink]="'/home'">Lab Alumini</a>
                <a mat-menu-item [routerLink]="'/home'">Supporters</a>
              </mat-menu>
  </div>
  </mat-toolbar>


       <app-sidebar #myTestComp></app-sidebar>
      
       <app-footer></app-footer>
</div>

  





  <!-- 
    <img src="../../../assets/images/forward_arrow.png"/> 
    
    
    
    <div class="header">
  <div class="main-title">
    <p class="site-title">Creighton University</p>
    <p class="site-description">Laboratory for Neglected Disease Drug Discovery</p>
  </div>

  <mat-toolbar>
    <mat-toolbar-row>
      <button (click)="toggle()" mat-icon-button> 
        <mat-icon>menu</mat-icon>
      </button>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">Home</a>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">NTD Drug Discovery</a>
      <a class="menu-spacer" mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a class="menu-spacer" mat-button [routerLink]="'/publications'">Publications and Patents</a>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">Collaborate</a>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">Supporters</a>

      <button class="btn menu-spacer" mat-button [matMenuTriggerFor]="personnel">
        Personnel
      </button>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">Links</a>
      <mat-menu #personnel="matMenu">
        <a mat-menu-item [routerLink]="'/home'">Dr. Gopal Jadhav</a>
        <a mat-menu-item [routerLink]="'/home'">Current Personnel</a>
        <a mat-menu-item [routerLink]="'/home'">Lab Alumini</a>
        <a mat-menu-item [routerLink]="'/home'">Supporters</a>

      </mat-menu>

    </mat-toolbar-row>

  </mat-toolbar>

</div>


<app-sidebar #myTestComp></app-sidebar>
 -->