<div class="header">
  <div class="main-title">
    <p class="site-title">Creighton University</p>
    <p class="site-description">Laboratory for Neglected Disease Drug Discovery</p>
  </div>

  <mat-toolbar>
    <mat-toolbar-row>
      <button (click)="toggle()" mat-icon-button> <!-- <button  (click)="sidenav.toggle()" mat-icon-button> -->
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <span class="menu-spacer"></span> -->


      <a class="menu-spacer" mat-button [routerLink]="'/home'">Home</a>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">NTD Drug Discovery</a>
      <a class="menu-spacer" mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a class="menu-spacer" mat-button [routerLink]="'/publications'">Publications and Patents</a>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">Collaborate</a>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">Supporters</a>

      <button class="btn menu-spacer" mat-button [matMenuTriggerFor]="personnel">
        Personnel
      </button>
      <a class="menu-spacer" mat-button [routerLink]="'/home'">Links</a>
      <mat-menu #personnel="matMenu">
        <a mat-menu-item [routerLink]="'/home'">Dr. Gopal Jadhav</a>
        <a mat-menu-item [routerLink]="'/home'">Current Personnel</a>
        <a mat-menu-item [routerLink]="'/home'">Lab Alumini</a>
        <a mat-menu-item [routerLink]="'/home'">Supporters</a>

      </mat-menu>

    </mat-toolbar-row>

  </mat-toolbar>

</div>


<app-sidebar #myTestComp></app-sidebar>

<!-- sidebar starts
  <mat-sidenav-container style="min-height:75vh; height: fit-content;">

    <mat-sidenav mode="side" opened #sidenav>
      <mat-nav-list>
        <span mat-list-item>Links</span>
        <a mat-list-item [routerLink]="'/twitterLink'"> @gopalJadhav on Twitter </a>
        <a mat-list-item [routerLink]="'/publicatinLink'"> Our Publicatins on Google Scholar </a><br><br><br>
        <span  mat-list-item >Contacts:</span>
        <div mat-list-item>Gopal Jadhav, Ph.D.<br>
          Department of Chemistry & Chemical <br>Biology<br>Phone: 617.373.2703</div>
          <a mat-list-item href="mailto:m.pollastri@neu.edu">m.pollastri@neu.edu</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="app-sidenav-content">
     
        <router-outlet></router-outlet>
  
    </div>
    </mat-sidenav-content>
  
  
  </mat-sidenav-container> 
  


 
 -->




<!-- 

     <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row>
    <mat-toolbar #mattoolbar>
      <span class="example-spacer"><a [routerLink]="'/home'">Home</a></span>
      <span class="example-spacer"><a [routerLink]="'/home'">NTD Drug Discovery</a></span>
      <span class="example-spacer"><a [routerLink]="'/publications'">Publications and Patents</a></span>
      <span class="example-spacer"><a [routerLink]="'/home'">Collaborate</a></span>
      <span class="example-spacer"><a [routerLink]="'/home'">Supporters</a></span>

     <span class="personnel">Personnel</span>
      <button mat-button [matMenuTriggerFor]="personnel">
        <mat-icon style="align-items:left;font-size:36px;color:#551a8b;" [inline]="true">arrow_drop_down</mat-icon>
     </button>
        <mat-menu #personnel="matMenu">
        <button mat-menu-item ><i>Dr. Gopal Jadhav</i></button>
        <button mat-menu-item ><i>Current Personnel</i></button>
        <button mat-menu-item ><i>Lab Alumini</i></button>
       </mat-menu>
       <span class="example-spacer"></span>
       <span class="example-spacer"><a [routerLink]="'/slide'">PhotoGallery</a></span>
      <span class="example-spacer"><a [routerLink]="'/home'">Links</a></span>

    </mat-toolbar> -->

<!-- div style="display: flex; align-items: center;">
  <div>Align</div>
  <mat-icon style="color: green; font-size: 44px; width: 44px; height: 44px;"
    >check_circle</mat-icon
  >
</div> 
<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>
      Mobile Phone
  </mat-expansion-panel-header>
  <mat-nav-list>
      <a mat-list-item routerLink="#">
          <mat-icon>apple</mat-icon><span>iOS</span>
      </a>
      <a mat-list-item routerLink="#">
          <mat-icon>android</mat-icon><span>Android</span>
      </a>
  </mat-nav-list>
</mat-expansion-panel>

-->